@import "tailwindcss";

/* Page Transitions */
.page-enter-active,
.page-leave-active {
  transition: opacity .35s ease;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}

/* Container Custom for each Section */

@layer utilities {

  .container-custom {
    @apply mx-auto max-w-7xl px-6 lg:px-8;
  }
}


/* Smooth Scrolling and Font Styles */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Outfit', sans-serif;
}